{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint", "prettier"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    // Adicione ou ajuste regras conforme necessário
    "prettier/prettier": "error",
    "no-unused-vars": "off"
  }
}
